
/* Adds a little extra space between courses in lists */
.vspace {
    padding-top: 1px;
}

/* Makes courses and glyphicons appear as links when hovered over */
.clickable:hover {
    cursor: pointer;
    opacity: 0.8;
}